<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<!--
      MES MSSQL 연결 문자열
      - Integrated Security=False : SQL Server 계정 인증
      - Integrated Security=SSPI  : Windows 인증 사용 시
      - MultipleActiveResultSets  : 복수 ResultSet 동시 사용 허용
    -->
		<add name="MES_DB"
			 connectionString="Data Source=YOUR_SERVER;
                           Initial Catalog=MES_DB;
                           User ID=mes_user;
                           Password=your_password;
                           MultipleActiveResultSets=True;
                           Connect Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- 세션/공통 설정 -->
		<add key="AppTitle"     value="MES 생산지시 관리" />
		<add key="DBTimeout"    value="30" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>
