<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Core.WinForms" version="32.1.20" targetFramework="net462" />
  <package id="Syncfusion.Data.WinForms" version="32.1.20" targetFramework="net462" />
  <package id="Syncfusion.DataSource.WinForms" version="32.1.20" targetFramework="net462" />
  <package id="Syncfusion.GridCommon.WinForms" version="32.1.20" targetFramework="net462" />
  <package id="Syncfusion.Licensing" version="32.1.20" targetFramework="net462" />
  <package id="Syncfusion.SfInput.WinForms" version="32.1.20" targetFramework="net462" />
  <package id="Syncfusion.SfListView.WinForms" version="32.1.20" targetFramework="net462" />
  <package id="Syncfusion.Shared.Base" version="32.1.20" targetFramework="net462" />
</packages>